:root {
  --primary-color: #b5bdc0;
  --secondary-color: #f3e5ab;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--secondary-color);
}

.content {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
}

.row {
  margin-top: 40px;
}

h4 {
  text-decoration: underline;
}

.description {
  text-align: left;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.home-link {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

.photo-link {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

.contact-link {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}
